body{
    margin: 0;
    background-color: rgb(39, 39, 39);
}
.sombra{
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 1);
}

.logo{
    /* caixa com o nome */
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0px 5px 15px;
    border-top-left-radius: 15px;
}

.nome{
    /* classe nome */
    color: rgb(158, 158, 158);
    text-decoration: none;
    font-family: consolas, monospace;
    font-size: 50px;
}
.subtitulo{
    padding-bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: grey
}

